* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fff;
  --main-color-hover: #ddd;
  --second-color: #d14334;
  --second-color-hover: #444;
  --empire-color: #333;
  --empire-color-hover: #d14334;
}

@import url("./hover.css");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;900&display=swap");

body {
  font-family: "Kanit", cursive, sans-serif;
  color: #fff;
}

.App {
  min-height: 100vh;
  text-align: center;
}
.loading-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
strong,
b {
  font-weight: 700;
}

.main-color {
  color: var(--main-color);
}
.second-color {
  color: var(--second-color);
}
.bg-main-color {
  background-color: var(--main-color);
  color: #fff;
}

.empire-color {
  color: var(--empire-color);
}
.bg-empire-color {
  background-color: var(--empire-color);
  color: #fff;
}
.button {
  border-radius: 5px;
  padding: 5px 8px;
  border: none;
}

.button:hover {
  background-color: var(--main-color-hover);
}
