* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600;700;900&display=swap");

:root {
  --main-color: #fff;
  --main-color-hover: #ddd;
  --second-color: #333;
  --second-color-hover: #444;
  --rebel-color: #d14334;
}

body {
  font-family: "Kanit", cursive, sans-serif;
  color: #999;
}

.App {
  min-height: 100vh;
  text-align: center;
}

strong,
b {
  font-weight: 700;
}

.main-color {
  color: var(--main-color);
}
.bg-main-color {
  background-color: var(--main-color);
  color: #fff;
}

.rebel-color {
  color: var(--rebel-color);
}
.bg-rebel-color {
  background-color: var(--rebel-color);
  color: #fff;
}
.button {
  border-radius: 5px;
  padding: 5px 8px;
  border: none;
}

.button:hover {
  background-color: var(--main-color-hover);
}
