header {
  padding: 25px 0;
}

.glowing-title {
  color: var(--second-color);
  font-size: 90px;
  font-weight: 100;
  margin-bottom: 25px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon3 3.5s ease-in-out infinite alternate;
  -moz-animation: neon3 3.5s ease-in-out infinite alternate;
  animation: neon3 3.5s ease-in-out infinite alternate;
}
@media screen and (max-width: 700px) {
  .glowing-title {
    font-size: 70px;
  }
}

.glowing-title:hover {
  text-decoration: none;
}
header .welcome-user {
  text-align: right;
  margin-bottom: 15px;
}

header .welcome-user .button {
  margin-left: 15px;
}
header .logout {
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .logout svg {
  margin-left: 5px;
}
header .logout:hover {
  text-decoration: underline;
}
/*glow*/

@keyframes neon3 {
  from {
    color: var(--main-color);
    text-shadow: 0 0 1px var(--main-color), 0 0 2px var(--main-color),
      0 0 2px var(--main-color), 0 0 3px var(--main-color),
      0 0 7px var(--main-color), 0 0 3px var(--main-color),
      0 0 3px var(--main-color), 0 0 9px var(--main-color);
  }
  to {
    color: var(--main-color);
    text-shadow: 0 0 0.5px var(--main-color), 0 0 1px var(--main-color),
      0 0 1.5px var(--main-color), 0 0 2px var(--main-color),
      0 0 3.5px var(--main-color), 0 0 2px var(--main-color),
      0 0 2.5px var(--main-color), 0 0 7.5px var(--main-color);
  }
}
