header {
  padding: 25px 0;
}

header h1 {
  color: var(--main-color);
  font-size: 90px;
  font-weight: 100;
  margin-bottom: 25px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
  -moz-animation: neon3 1.5s ease-in-out infinite alternate;
  animation: neon3 1.5s ease-in-out infinite alternate;
}

header .welcome-user {
  text-align: right;
  margin-bottom: 15px;
}

header .welcome-user .button {
  margin-left: 15px;
}

/*glow*/

@keyframes neon3 {
  from {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #fff,
      0 0 3px var(--main-color), 0 0 7px var(--main-color),
      0 0 3px var(--main-color), 0 0 3px var(--main-color),
      0 0 9px var(--main-color);
  }
  to {
    text-shadow: 0 0 0.5px #fff, 0 0 1px #fff, 0 0 1.5px #fff,
      0 0 2px var(--main-color), 0 0 3.5px var(--main-color),
      0 0 2px var(--main-color), 0 0 2.5px var(--main-color),
      0 0 7.5px var(--main-color);
  }
}
