#login .form {
  border-radius: 5px;
  margin-top: 25px;
  padding: 25px 0;
}

#login .form .input {
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
}
#login .form .button {
  width: 100%;
  background-color: var(--rebel-color);
}
#login h1 {
  margin: 15px 0;
}
