input.search {
  width: 100%;
  padding: 15px;
  border-radius: 5px 0 0 5px;
  border: none;
}

.all-types {
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-column-gap: 10px;
}

.all-types .type.is-selected,
.all-types .type:hover {
  cursor: pointer;
  background-color: var(--empire-color-hover);
  color: #fff;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.result {
  min-height: 219px;
  padding: 12px;
  background-size: auto 50% !important;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.result.type-films,
.type.type-films {
  background: url("../assets/img/icons/film.svg") center center no-repeat
    var(--second-color);
}

.type.type-films:hover,
.type.type-films.type.is-selected {
  background: url("../assets/img/icons/film-white.svg") center center no-repeat
    var(--second-color);
}

.result.type-people,
.type.type-people {
  background: url("../assets/img/icons/people.svg") center center no-repeat
    var(--second-color);
}
.type.type-people:hover,
.type.type-people.type.is-selected {
  background: url("../assets/img/icons/people-white.svg") center center
    no-repeat var(--second-color);
}

.result.type-planets,
.type.type-planets {
  background: url("../assets/img/icons/planet.svg") center center no-repeat
    var(--second-color);
}

.type.type-planets:hover,
.type.type-planets.type.is-selected {
  background: url("../assets/img/icons/planet-white.svg") center center
    no-repeat var(--second-color);
}

.result.type-species,
.type.type-species {
  background: url("../assets/img/icons/species.svg") center center no-repeat
    var(--second-color);
}

.type.type-species:hover,
.type.type-species.type.is-selected {
  background: url("../assets/img/icons/species-white.svg") center center
    no-repeat var(--second-color);
}

.result.type-starships,
.type.type-starships {
  background: url("../assets/img/icons/starship.svg") center center no-repeat
    var(--second-color);
}
.type.type-starships:hover,
.type.type-starships.type.is-selected {
  background: url("../assets/img/icons/starship-white.svg") center center
    no-repeat var(--second-color);
}

.result.type-vehicles,
.type.type-vehicles {
  background: url("../assets/img/icons/vehicle.svg") center center no-repeat
    var(--second-color);
}

.type.type-vehicles:hover,
.type.type-vehicles.type.is-selected {
  background: url("../assets/img/icons/vehicle-white.svg") center center
    no-repeat var(--second-color);
}
.all-types .type {
  background-color: var(--empire-color);
  padding: 5px 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-position-x: 15px;
  background-size: auto 85%;
  text-transform: capitalize;
  font-weight: 300;
}
.all-types .type:hover,
.all-types .type.is-selected {
  background-position-x: 15px !important;
  background-size: auto 85% !important;
}

.result:hover {
  background-color: var(--second-color-hover);
}

.search-results a,
.search-results a:hover {
  color: var(--main-color);
  text-decoration: none;
}

.search-results a h3 {
  color: #fff;
  font-size: 1rem;
}

.search-results h4 {
  font-style: italic;
  font-size: 1rem;
}
.search-bar {
  display: flex;
  align-items: center;
}
.search-bar .search-icon {
  background-color: var(--empire-color);
  height: 100%;
  font-size: 1.4em;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  border-radius: 0 5px 5px 0;
}
